<% include ../partials/header %>

<!-- <div class="container">
    <div class="row">
        <div class="col-md-6">
            <% pakars.forEach(function(pakar){ %>
            <div class="jumbrotron">
                <h1><%= pakar.ciri %></h1>
                <p><%= pakar.jenis %></p>
                <p><%= pakar.berlangsung %></p>
                <p><%= pakar.penyebab %></p>
                <p><%= pakar.tingkat %></p>
            </div>
            <% }); %>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="">Ciri-ciri</label>
                <input type="text" >
            </div>
        </div>
        
    </div>
</div> -->

<!-- <div class="container">
    <div class="accordion-option">
        <h3>Kumpulan Pakar</h3>
        <a href="javascript:void(0)" class="toggle-accordion" accordion-id="#accordion"></a>
    </div>
    <div class="clearfix"></div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a href="#collapseOne" role="button" data-toggle="collapse" data-parent="#accordion"
                        aria-expanded="true" aria-controls="collapseOne" >
                        CIriciri 1
                    </a>
                </h4>
            </div>
            <div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eos repellendus repudiandae dolorum quisquam ad voluptas laboriosam laudantium odio magnam tempora quis molestias, explicabo amet sit consectetur, accusamus aliquid quo.
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a href="#collapseTwo" role="button" data-toggle="collapse" data-parent="#accordion"
                        aria-expanded="true" aria-controls="collapseTwo" >
                        CIriciri 2
                    </a>
                </h4>
            </div>
            <div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eos repellendus repudiandae dolorum quisquam ad voluptas laboriosam laudantium odio magnam tempora quis molestias, explicabo amet sit consectetur, accusamus aliquid quo.
                </div>
            </div>
        </div>

    </div>
</div> -->
<!-- <div class="container">
    <div class="row">
        <div id="faq" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="#questionOne">
                    <h5 class="panel-title">
                        <a href="#answerOne" data-toggle="collapse" data-parent="#faq"
                            aria-expanded="false" aria-controls="answerOne" >
                            Question 1
                        </a>
                    </h5>
                </div>
                <div class="panel-collapse collapse" id="answerOne" role="tabpanel" aria-labelledby="questionOne" >
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam adipisci sit similique nihil ducimus, vero alias, id quia quibusdam ab mollitia itaque eligendi maxime fuga sapiente suscipit tenetur beatae dignissimos.
                    </div>
                </div>
            </div>    
            
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="questionTwo">
                    <h5 class="panel-title">
                        <a href="#answerTwo" data-toggle="collapse" data-parent="#faq"
                            aria-expanded="false" aria-controls="answerTwo" >
                            Question 1
                        </a>
                    </h5>
                </div>
                <div class="panel-collapse collapse" id="answerTwo" role="tabpanel" aria-labelledby="questionTwo" >
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam adipisci sit similique nihil ducimus, vero alias, id quia quibusdam ab mollitia itaque eligendi maxime fuga sapiente suscipit tenetur beatae dignissimos.
                    </div>
                </div>
            </div>  
        </div>
    </div>
    
</div> -->

    <!-- <section id="contact" class="section-full gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="product-area-title text-center">
                        <p class="text-uppercase">Latest From Blog</p>
                        <h2 class="h1">Publish what you want to <br> not requires social</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mt-30">
                    <p>Dramatically reintermediate effective applications after high-payoff core competencies. Authoritatively optimize collaborative benefits for error-free communities. Dramatically reintermediate effective applications after high-payoff core competencies. Authoritatively optimize collaborative benefits for error-free communities.</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="address mt-20">
                                <h6 class="text-uppercase mb-15">Physical Address</h6>
                                <p>Emperor Publishing,<br> 56/8, bir uttam qazi nuruzzaman <br> road, Dhaka - 1205</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="address mt-20">
                                <h6 class="text-uppercase mb-15">WEb Contact</h6>
                                <a href="tel:0000">012 (88) 017 25 656 565</a> <br>
                                <a href="tel:0000">012 (88) 017 25 656 565</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-30">
                    <form id="myForm" action="mail.php" method="post" class="contact-form">
                        <div class="single-input color-2 mb-10">
                            <input type="text" name="fname" placeholder="Full Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Full Name'" required="">
                        </div>
                        <div class="single-input color-2 mb-10">
                            <input type="email" name="email" placeholder="Email Address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" required="">
                        </div>
                        <div class="single-input color-2 mb-10">
                            <input type="text" name="subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'" required="">
                        </div>

                        <div class="single-input color-2 mb-10">
                            <textarea name="message" placeholder="Type your message here..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type your message here...'" required=""></textarea>
                        </div>
                        <div class="d-flex justify-content-end"><button class="mt-10 primary-btn d-inline-flex text-uppercase align-items-center">Send Message<span class="lnr lnr-arrow-right"></span></button></div>
                        <div class="alert"></div>
                    </form>
                </div>
            </div>
        </div>
    </section> -->

<section class="section-full gray-bg">
    <div class="container">

            
               
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center">
                    <p class="text-uppercase">cacat</p>
                    <h1 class="text-uppercase"><%= pakars.tingkat %></h1>
                </div>
            </div>
        </div>
        

        <div class="row">
            <% pakars.forEach(function(pakar){ %>
            <div class="col-md-4">
                <figure class="signle-service">
                    <figcaption class="text-center">
                        <h5 class="text-uppercase"><%= pakar.ciri %></h5>
                        <p>Jenis Cacat : <%= pakar.jenis %></p>
                        <p>Berlangsung Pada : <%= pakar.berlangsung %></p>
                        <p>Penyebab Cacat : <%= pakar.penyebab %></p>
                        <p>Tingkat Kecacatan : <%= pakar.tingkat %></p>
                    </figcaption>
                </figure>
            </div>
            <% }); %>
        </div>
        
    </div>
</section>


<% include ../partials/footer %>